@charset "utf-8";
.key {
    height: 500px;
    background: center / cover no-repeat url("/images/sample_cafe1.jpg");
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .key h1{
    font-size: 2.5rem;
  }
  .section_title {
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }
  .menu_title {
    display: inline-block;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #42210b;
    border-bottom: solid #42210b 1px;
    margin-bottom: 20px;
  }
  .center {
    text-align: center
  }
  .coffee_menu_image {
    border-radius: 50%;
    width: 20%;
  }
  .header_nav {
    background: linear-gradient(90deg, #5a5656 20%, rgba(0,0,0,.6) 60%);
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: stretch;
    position: fixed;
    top: 0;
    width: 100%;
    clear: both;
  }
  .global_nav_item {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .global_nav_item:hover {
    background: #fff;
    color: #42210b;
  }
  .section_inner {
    padding: 50px 10% 30px;
  }
  .global_nav {
    display: flex;
    align-items: stretch;
  }
  .logo {
   display: flex;
    width: 120px;
    align-items: center;
  }
  .logo img{
    width: 100%;
  }
  header div {
    background-image: url("sample_key.jpg");
  }
  .align_left {
    display: flex;
    justify-content: space-between;
  }
  .align_left p {
    display: block;
    margin-block: 1em 0em;
    width: 60%;

  }
  .align_img {
    width:"35%";
    text-size-adjust: 100%;
    size-adjust: cover;
    box-sizing: border-box;
  }
  .section_menu {
    background: center / cover no-repeat url(/images/sample_menu_bg.jpg);
  }
  .ul_menu {
    display: flex;
    float: left;
    justify-content: space-between;
  }
  .list_menu {
    display: flex;
    float: left;
    justify-content: space-between;
    box-sizing: content-box;
    width: 49%;
    background-color: black;
    clear: both;
    }
  .list_menu h2 p {
    flex-direction: column;
    width: 45%;
  } 
  .list_menu img {
    width: 55%;
  }
  .list_coffee {
    display: flex;
    flex-direction: row;
    width: 49%;
    align-items: flex-end;
    background-color: #5a5656;
  }
  .list_coffee_1{
    width: 49%;
  }
  .list_coffee_2{
    width: 49%;
  }
  .menu_recommended {
    display: flex; 
    justify-content: space-between;
  }