@charset "utf-8";

html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
}
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
}
.key h1{
  font-size: 2.5rem;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}
.first_title {
  padding-top: 15vh;
}
.first_concept {
width: "";
display: flex;
flex-direction: row;
}
.first_concept p {
  width: 60%;
}
.first_concept img {
  width: 35%;
}
.first_menu {
  background: center / cover no-repeat url("../images/sample_menu_bg.jpg");
  background-attachment: fixed;
}
.ul_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px;
  clear: both;
}
.list_menu {
  width: 49%;
  background-color: #fff;
  padding: 1vh 1vw;
  margin: auto;
}
.list_menu img {
  width: 55%;
  max-height: fit-content;
  float: left;
  padding-right: 5px;
}
.list_menu p {
  padding-left: 10vw;
  font-size: 18px;
}
.coffee_menu {
  background-color: #fff;
  margin: 20px;
}
.coffee {
  padding: 20px;
  padding-inline: 5px;
}
.coffee_menu_image {
  border-radius: 50%;
  width: 20%;
  float: left;
  clear: both;
  justify-content: space-between;
}
.coffee_text {
  width: 49%;
}
.coffee_menu_1 {
  display: flex;
}
.coffee_menu_2 {
  display: flex;
}
.dt_text_1{
  width: 85px;
  float: left;
}
.dt_text_2 {
  width: 85px;
  height: 25px;
  float: left;
  clear: both;
}
.footer_inner {
  background-color: #251e19;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 75px;
}
.footer_sec {
display: flex;
align-items: center;
margin: 10px 0;
padding: 0;
}
.footer_sec a {
  text-decoration: none;
}
.footer_sec img {
  max-height: 25px;
  margin-right: 15px;
}
.text_footer {
  display: inline;
  color: #fff;
}